# Default ignored files
/../../MergeWithConflict./.idea/shelf/
/../../MergeWithConflict./.idea/workspace.xml
# Ignored default folder with query files
/../../MergeWithConflict./.idea/queries/
# Datasource local storage ignored files
/../../MergeWithConflict./.idea/dataSources/
/../../MergeWithConflict./.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../MergeWithConflict./.idea/httpRequests/
